---
name: Main

on:
  - pull_request

jobs:
  lint:
    name: Run black/pylint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade -e ".[develop]"
          python -m pip install --upgrade -r requirements.txt

      - name: Run pylint
        run: |
          python -m pylint dags tests include

      - name: Run black
        uses: psf/black@stable

  test:
    name: Run pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade -e ".[testing]"
          python -m pip install --upgrade -r requirements.txt

      - name: Run pytest
        run: |
          python -m pytest -vvv
