---
name: Main

on:
  push:
    branches: [ main ]
  pull_request: ~
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Run black/pylint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade -e ".[develop]"
          python -m pip install --upgrade -r requirements.txt

      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"
      - run: ruff check --diff
      - run: ruff format --check --diff

  test:
    name: Run pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade -e ".[testing]"
          python -m pip install --upgrade -r requirements.txt

      - name: Run pytest
        run: |
          python -m pytest -vvv
